.card{
    
    // width: 78%!important;
    // margin-left: 20%!important;
    background-color: rgb(209, 202, 202);
    align-items: center;
}
.text-title{
text-align: center;
color: black;
font-family: roboto;
font-size: 50px;
}
.text-inner{
color:black;
font-family: roboto;
font-size: 20px;
padding: 2px 24px;
}