.card{
    
    width: 94%!important;
    margin-left: 4%!important;
    background-color: #7386D5;
    align-items: center;
}
.page-title{
text-align: center;
color: white;
font-family: roboto;
font-size: 50px;
}
.page-inner{
color: white;
font-family: roboto;
font-size: 20px;
padding: 2px 24px;
}