.card{
    
    width: 94%!important;
    margin-left: 4%!important;
    align-items: center;
    margin: 30px auto;
}
.article-header{
    text-align: center;
    color: black;
    font-family: roboto;
    font-size: 50px;
}
.article-body{
    color: black;
    font-family: roboto;
    font-size: 20px;
    padding: 2px 24px;
}