<div class="card" *ngFor= "let articles of article">
    <div class="card-body article-header">
    {{articles.title}}
    </div>
    <div class="card-body article-body">
       {{articles.body}}        
     </div>
     <div class="card-body" >
            <app-blocks [blockContent]= "block"></app-blocks>
     </div>
     <!-- <div class="card-body" >
            <app-text [textContent]= "mainComponent"></app-text>
  
    </div> -->
    <div class="card-body" >
            <app-graphic [graphicsContent]= "component"></app-graphic>
  
    </div>
</div>

