<div class="container contact">
        <div class="header">
                <h6>General</h6>
        </div>
        
            <form #myCourseForm="ngForm" (ngSubmit)="SubmitItem(myCourseForm)" class="myCourseForm">
            <div class="col-lg" >
                <div class="contact-form">
                    <div class="form-group">
                      <label class="control-label col-sm-2" for="title">Title</label>
                      <div class="col-sm-10">          
                        <input type="text" class="form-control" id="title" name="title" ngModel>
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="control-label col-sm-2" for="displayTitle">Display Title</label>
                      <div class="col-sm-10">          
                        <input type="text" class="form-control" id="displayTitle" name="displayTitle" ngModel>
                      </div>
                    </div>
                    <div class="form-group">
                            <label class="control-label col-sm-2" for="description">Description</label>
                            <div class="col-sm-10">
                              <input type="text" class="form-control" id="description"  name="description" ngModel>
                            </div>
                     </div>
                    
                     <div class="form-group">
                        <label class="control-label col-sm-2" for="body">Body</label>
                        <div class="col-sm-10">
                              
                              <p-editor [style]="{'height':'250px'}" ngModel name="body"></p-editor>
                             
                        </div>
                      </div>
                    <div class="form-group">
                            <label class="control-label col-sm-2" for="tags">Tags</label>
                            <div class="col-sm-10">
                              <input type="text" class="form-control" id="tags"  name="tags" ngModel>
                            </div>
                            
                     </div>
                     <div class="form-group">
                            
                            <div class="col-sm-10 checkbox">
                               <input type="checkbox" style="width: 2.5%;" class="form-control" id="checkbox"  name="checkbox" ngModel> Share with all users
                            </div>
                     </div>
                     <div class="form-group">
                            <label class="control-label " style="margin-left: 2%;" for="user">Share with specific users</label>
                            <div class="col-sm-10">
                              <input type="text" class="form-control" id="user"  name="user" ngModel>
                            </div>
                            
                     </div>
                     <div class="header">
                            <h6 style="padding: 14px 19px;margin-top: 0%;">Menu Lock Type</h6>
                    </div>
                    <select class="select"  [(ngModel)]="selectedLevel" [ngModelOptions]="{standalone: true}" name="lockType" (change)="selected()">Lock Type
                        <option *ngFor="let item of data" [ngValue]="item">{{item.name}}</option>
                    </select>
                    
                  
                    <!-- <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                             Lock type
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                              <a class="dropdown-item" href="#">Custom</a>
                              <a class="dropdown-item" href="#">Lock last</a>
                              <a class="dropdown-item" href="#">Unlock First</a>
                              <a class="dropdown-item" href="#">Sequential</a>

                            </div>
                    </div> -->
                    
                   
                     <div class="header">
                            <h6 style="padding: 14px 19px;margin-top: 0%;">Custom CSS</h6>
                    </div>
                    <div class="form-group">
                            <div class="col-sm-10">
                            <textarea  class="form-control" id="text-area"  name="customCSS" ngModel rows="3"></textarea>   
                            </div>
                            
                    </div>
                    <div class="form-group">        
                      <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-default" >Submit</button>
                      </div>
                    </div>
                </div>
            </div>
            </form>
        </div>
        <div>
               
        
    </div>
    