<div class="container">
        <div class="row">
          <div class="col-6">
                <img src="assets/images/3.jpg" class="card-img img-1" alt="...">
          </div>
          
          <div class="col-6">
              <div class="row row-1">
                  <div class="col-6">
                        <img src="assets/images/4.jpg" class="card-img img-2" alt="...">
                    </div>
                  <div class="col-6">
                        <img src="assets/images/5.jpg" class="card-img img-3" alt="...">
                  </div>
              </div>
              
              <div class="card" *ngFor='let content of course' >
                    <div class="card-body">
                      <h5 class="card-title">{{content.title}}</h5>
                      <h6 class="card-subtitle mb-2 text-muted">{{content.tags}} </h6>
                      <p class="card-text">{{content.body}}</p>
                     
                    </div>
                  </div>
             
                
               
           
          </div>
        </div>
</div>   
<div class="cont-2"  >
        <div class="row"  >
                <div class="col col-sm-12 col-md-6 col-lg-6 col-xl-6">
                   
                    <div class="card " *ngFor= 'let pages of page1'  >
                        <div class="card-body">
                            <h5 class="card-title" > {{pages.title}}</h5>
                            <p class="card-text" >
                                {{pages.body}}
                            </p>
                             <div class="btnLink" (click)='goToPage()' routerLink='/final-course/course-object'>
                                 <a  style=" color: #fff;">{{pages.btnlinkText}}</a>
                             </div>
                            <div class="progress">
                                <div class="progress-bar bg-primary" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                                
                    </div>
                </div>
              
                       
              </div>
</div> 
