.header h6{
    font-family: 'lato';
    font-size: 15px;
    padding: 14px 0px;
    font-weight: 900;
    margin-top: 6%;
}
 .myBlockForm{
    margin-left: -3%;
    margin-top: 3%;
    .control-label{
        font-family: 'lato';
        font-size: 13px;
   }
    .checkbox{
        font-family: lato;
        font-size: 13px;
    }
    .dropdown{
        margin-bottom: 4%;
        text-align: center;
        margin-top: -5%;
        
         .dropdown-menu{
             widows: 15%;
             font-family: 'lato';
             font-size: 13px;
         }
         .btn-secondary {
            color: #000;
            background-color: #fff;
            border: none;
            box-shadow: 3px 3px 3px #dddbdb;
            /* border-radius: 4px; */
            font-family: lato;
            font-size: 13px;
            padding: 5px 42px;
            width: 15%;
            margin-left: -56%;
        }
       

    
         }
         .contact-form button{
            background: #373d47;
            color: #fff;
            border-radius: 20px;
            width: 90%;
        }
}
